# Supabase Configuration
VITE_SUPABASE_URL=https://yrzzgqkwwupkakznawzp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyenpncWt3d3Vwa2Frem5hd3pwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYyNjU4MjksImV4cCI6MjA3MTg0MTgyOX0.GyytfSthBDMyiSJn4Ah1VOmDtP6R35JTVGyMV1SqwMk
